<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton"
                   type="XtremeT3Server.XT3GameState, XtremeT3Server"
                   objectUri="xt3gamestate.soap" />
      </service>
      <channels>
        <channel port="10001" ref="http">
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>