<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton" type="TicTacToeLibrary.Location, TicTacToeLibrary" objectUri="location.soap" />
      </service>
      <channels>
        <channel port="10000" ref="http">
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full" />
          </serverProviders>
          
        </channel>
        
      </channels>
      
    </application>
  </system.runtime.remoting>
</configuration>